<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel = "stylesheet" href="static/hello.css" ></link>
    </head>
    <body >
        
        
        <!-- <table class="table table-striped table-bordered" >
            <thead>
                <tr>
                  <th scope="col">StudentId</th>
                  <th scope="col">GPA</th>
                  <th scope="col">CourseId</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                
                {%for item in param1%}
                
                    <thead>
                        <tr>
                            <th scope="col">{{item['studentId']}}</th>
                            <th scope="col">{{item['GPA']}}</th>
                            <th scope="col">{{item['CourseId']}}</th>
                        </tr>
                       
                    </thead> 
                    
                {%endfor%} 
            </tbody>
        </table> -->
        <div >
            <table class="table table-striped table-bordered" >
                <thead>
                    <tr>
                      <th scope="col">name</th>
                      <th scope="col">GPA</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    
                    {%for item in query%}
                    
                        <thead>
                            <tr>
                                <th scope="col">{{item['name']}}</th>
                                <th scope="col">{{item['GPA']}}</th>
                            </tr>
                           
                        </thead> 
                        
                    {%endfor%} 
                </tbody>
    
            </table>
            
        </div>
        
    </body>

</html>