<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/hello.css"/>
</head>
<body>
    <form method="POST" action= "{{url_for('form')}}">
        <div class="form-group">
            
            <input type="text" class="form-control" id="formGroupExampleInput" name = "username" placeholder="Username">
        </div>
        <div class="form-group">
            
            <input type="text" class="form-control" id="formGroupExampleInput2" name = "password" placeholder="Pass">
        </div>
        <input type ="submit"value="Submit">
    </form>
</body>

</html>